global
    log 127.0.0.1 local0 notice
    user root
    group root
    description PiCluster

defaults
    log global
    mode http
    option httplog
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000

listen sql-servers
    bind 0.0.0.0:3306
    mode tcp
    balance leastconn
    option mysql-check user haproxy_check
    server sql-srv1 172.20.0.11:3306 check inter 2000 fall 3 rise 99999999
    server sql-srv2 172.20.0.12:3306 check inter 2000 fall 3 rise 99999999
    server sql-srv3 172.20.0.13:3306 check inter 2000 fall 3 rise 99999999

listen stats
    bind 0.0.0.0:8080
    mode http
    stats enable
    stats uri /stats
    stats realm Strictly\ Private
    stats auth admin:password
    stats show-desc
    stats show-legends
    stats admin if TRUE